.bill-header {
  border-bottom: 2px dotted rgb(134, 123, 123);
}
.bill-model h1 {
  font-size: 30px;
}
.bill-model p {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.dotted-border {
  border-bottom: 2px dotted rgb(134, 123, 123);
}

.print-btn button {
  margin-top: 10px;
  color: white !important;
  background-color: #0a7979;
}

.print-btn button:hover {
  color: #0a7979 !important;
  background-color: #fff;
}
