.bill-header {
  border-bottom: 2px dotted rgb(134, 123, 123);
}
.bill-model h1 {
  font-size: 30px;
}
.bill-model p {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.dotted-border {
  border-bottom: 2px dotted rgb(134, 123, 123);
}
